.portfolio{
    max-width: 1150px;
    margin: 100px auto 0;
    padding: 40px;
}
@media all and (max-width: 900px) {
    .portfolio {
    padding-right: 30px;
    padding-left: 30px;
}
}@media all and (max-width: 600px) {
    .portfolio {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
}

.background{
    height: 310px;
    
        position: relative;
        background-color: #05131C;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: all 0.3s ease-in-out;
}

.kkfamily{
    background-image: url("../img/kk.png");
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100%;
    width: 100%;
    max-width: 100%;
    
    position: relative;
    background-color: #FF8900;
}

.studio68{
    background-image: url("../img/68.jpg");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;

    background-color: black;
}