.portfolio{
    height: 800px;
    max-width: 1150px;
    margin: 100px auto 0;
    padding: 40px;
}
@media all and (max-width: 900px) {
    .portfolio {
    padding-right: 30px;
    padding-left: 30px;
}
}@media all and (max-width: 600px) {
    .portfolio {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
}

.kkfamily{
    height: 620px;

    position: relative;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #FF8900;
    background-color: #FFF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}
.kkfamily:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #FF8900;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
.kkfamily:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

.studio68{
    height: 620px;

    position: relative;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #FF8900;
    background-color: #FFF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}
.studio68:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #FF8900;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
.studio68:hover {
    transform: scale(1.01, 1.01);
    cursor: pointer;
}